# Zależności
node_modules/

# Build (wynik budowania aplikacji)
.next/
.gitignore
out/
build/

# WebStorm IDE
.idea/

# Środowisko lokalne (sekrety, klucze API)
*.env

# Logi i śmieci systemowe
npm-debug.log*
.DS_Store
