.gateBody {
    background: #333333;
    color: #fafafa;
    padding: 0.75rem 1.5rem; 
    border: 0.2rem solid #1a1a1a;
    border-radius: 0.25rem;
    box-shadow: 
        inset -0.2rem -0.2rem 0 0 #222222, 
        inset 0.2rem 0.2rem 0 0 #444444;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 5rem;
    text-align: center;
    position: relative;
    transition: border-color 0.25s;
    
}

.dropdown select {
    background: transparent;
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    text-align: center;
    width: 100%;
}


.dropdown select option {
    background: #333;
    color: #fafafa;
}

.dropdown select:hover {
    color: #888;
}

.gateBody:hover {
    border-color: #555555;
}

.handle {
    width: 0.75rem !important;
    height: 0.5rem !important;
    background: #1a1a1a !important;
    border: 0.125rem solid #1a1a1a !important;
    border-radius: 0.125rem !important;
    transition: background-color 0.25s ease-in-out, border-color 0.25 ease-in-out !important;
}

.handle:hover {
    background: #555555 !important;
    border-color: #555555 !important;
}