.container {
    cursor: pointer;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #cccccc;
}

.container:hover {
    background-color: #999999;
}