.editorPage {
    --background: white;
    --foreground: black;

    background: var(--background);
    color: var(--foreground);

    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}