.bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: #ffffff;
    height: 5rem;
    align-items: center;
    gap: 0.4rem;
    flex-shrink: 0;
    font-size: 2rem;
}

.bar > * {
    flex-shrink: 0;
}

.GDGicon {
    background-color: #ffffff;
    /*background-color: pink;*/
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 8rem;
    margin-left: 1rem;
    /*padding-right: 0.2rem;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.GDGsign {
    background-color: #ffffff;
    /*background-color: red;*/

    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: bold;

    height: 5rem;
    width: 15.5rem;

    display: flex;
    justify-content: left;
    align-items: center;

    padding-top: 0.55rem;
    text-align: center;
    line-height: 0;
}

